<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FaceTrace</title>
    <!--bootstrap cdn link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="
    sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--styles link-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="../static/style.css", rel="stylesheet">
</head>
<body>
  <nav>
    <div class="logo">
      <a href="#">FaceTrace.</a>
    </div>
    <ul>
      <li id="register-student"><a href="../templates/studentregister.html">Register Student</a></li>
    </ul>
  </nav>
  

  <div class="datetime">
    <span id="currentDate"></span>
    <span id="currentTime"></span>
  </div>

  <!-- js code for displaying date and time -->
  <script>
    const currentDate = new Date();
    const formattedDate = `Date: ${currentDate.getDate()}/${(currentDate.getMonth()+1).toString().padStart()}/${currentDate.getFullYear()}, ${currentDate.toLocaleDateString('en-US', { weekday: 'long' })}`;
    document.getElementById("currentDate").innerHTML = formattedDate;
                
    const currentTime = new Date();
    const formattedTime = `Time: ${currentTime.toLocaleTimeString('en-US', { hour12: true, hour: '2-digit', minute: '2-digit' })}`;
    document.getElementById("currentTime").innerHTML = formattedTime;
  </script>

  <!--take attendance button -->

  <a href="/start" class="take-attendance-button">
    <span>Take Attendance</span>
  </a>


  
  <!--showing attendance table-->
  <div class="row">
    <p class="text-end">{{mess}}</p>
    <div class="col">
      <h2>Today's Attendance <i class="material-icons">assignment</i></h2>
      <table class=table style="background-color: white;">
        <tr class="tr">
          <td class="td"><b>S No</b></td>
          <td class="td"><b>Name</b></td>
          <td class="td"><b>ID</b></td>
          <td class="td"><b>Time</b></td>
        </tr>
        {% if l %}

        {% for i in range(l) %}
        <tr class="tr">
          <td class="td">{{ i+1 }}</td>
          <td class="td">{{ names[i] }}</td>
          <td class="td">{{ rolls[i] }}</td>
          <td class="td">{{ times[i] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </table>
    </div>
  </div>

  <!--displaying total users in database-->
  <h5 style="padding: 25px;"><i>Total Users in Database: {{totalreg}}</i></h5>
  
</body>
</html>